/* 字体适配 */
@font-face {
    font-family: myFont;
    src: url('../font/font.ttf');
}

/* 响应式 body 样式 */
body {
    font-family: myFont;
    background-image: url('../img/background.png');
    background-attachment: fixed;
    background-size: contain;
    margin-bottom: 20px;
    padding: 0;
}

/* 链接样式 */
a, email{
    text-decoration: none;
    color: #FEC161;
    margin: 5px;
    margin-left: 12px;
    margin-right: 12px;
}

a:link {
    color: #FEC161;
}

a:visited {
    color: #FEC161;
}

a:hover {
    color: #FEE613;
    text-decoration: underline;
}

a:active {
    color: #FEC161;
}

/* 响应式卡片样式 */
.card {
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 800px; /* 设置最大宽度 */
    width: 100%; /* 默认宽度占满父元素 */
    margin: 0 auto;
    margin-top: 5%;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

/* 标题样式 */
.card h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #07A7F8;
}

.card h3 {
    text-align: center;
    margin-top: 10px;
    color: #07E3F8;
}

/* 段落样式 */
.card p {
    margin: 5px;
    margin-left: 12px;
    margin-right: 12px;
}

/* 结束部分样式 */
.card .end {
    text-align: center;
    margin-top: 10px;
}

/* 图片样式 */
.card img {
    width: 100%;
    height: auto; /* 自动调整高度，保持比例 */
    display: block;
}

/* 媒体查询，针对不同屏幕尺寸调整样式 */
@media screen and (max-width: 1000px) {
    /* 在屏幕宽度小于 1000px 时应用的样式 */
    .card {
        width: 90%; /* 增加卡片宽度，适应小屏幕 */
        margin-top: 3%;
    }

    .card p {
        font-size: 14px; /* 调整字体大小 */
    }
}